<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<router-outlet *ngIf="isLoggedIn"></router-outlet>

<div class="container" *ngIf="!isLoggedIn">
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">

          <div class="text-center">
            <h5 class="card-title text-center">Autenticação de Usuários</h5>
            <p>Entre com as suas credenciais de acesso</p>
          </div>

          <hr />

          <div class="text-center mb-2">
            <strong>{{mensagem_autenticar}}</strong>
          </div>

          <form [formGroup]="formAutenticar" (ngSubmit)="autenticar()">

            <div class="mb-3">
              <label for="inputEmail" class="form-label">Entre com seu email:</label>
              <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                placeholder="Digite o seu e-mail" required formControlName="email" />
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Entre com sua senha:</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Digite a sua senha" required
                formControlName="senha" />
              <div class="text-end mb-2">
                <a href="#" data-bs-toggle="modal" data-bs-target="#janelaRecuperarSenha">
                  Esqueci minha senha?
                </a>
              </div>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">
                Acessar Sistema
              </button>
            </div>
            <div class="d-grid gap-2 mt-2">
              <a href="#" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#janelaCadastro">
                Não possui conta? <strong>Cadastre-se aqui!</strong>
              </a>
            </div>
          </form>
        </div>
      </div>

      <div class="mt-2 text-center">
        <small>
          Projeto Angular<br />Java WebDeveloper COTI Informática
        </small>
      </div>

    </div>
  </div>
</div>

<!-- Modal para recuperação de senha do usuário -->
<div class="modal fade" id="janelaRecuperarSenha" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Esqueci minha senha</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="text-center mb-2">
          <strong>{{mensagem_recuperarsenha}}</strong>
        </div>

        <form [formGroup]="formRecuperarSenha" (ngSubmit)="recuperarSenha()">

          <div class="mb-3">
            <label for="inputEmail" class="form-label">Entre com seu email:</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
              placeholder="Digite o seu e-mail" required formControlName="email" />
          </div>

          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">
              Confirmar
            </button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<!-- Modal para cadastro do usuário -->
<div class="modal fade" id="janelaCadastro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Criar Conta de Usuário</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="text-center mb-2">
          <strong>{{mensagem_criarconta}}</strong>
        </div>

        <form [formGroup]="formCriarConta" (ngSubmit)="criarConta()">

          <div class="mb-3">
            <label for="inputNome" class="form-label">Entre com seu nome:</label>
            <input type="text" class="form-control" id="inputNome" placeholder="Digite o seu nome" required
              formControlName="nome" />
          </div>

          <div class="mb-3">
            <label for="inputEmail" class="form-label">Entre com seu email:</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
              placeholder="Digite o seu e-mail" required formControlName="email" />
          </div>

          <div class="mb-3">
            <label for="inputSenha" class="form-label">Entre com sua senha:</label>
            <input type="password" class="form-control" id="inputSenha" placeholder="Digite a sua senha" required
              formControlName="senha" />
          </div>

          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">
              Realizar Cadastro
            </button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>